.main {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  /*grid-template-columns: 3fr 2fr;*/
  grid-gap: 10px;
}
.header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.deed.card {
  margin-top: 1em;
  margin-bottom: 1em;
}
.card.secondary {
  border-style: dashed;
  opacity: 0.9;
}
.deeds .card:hover {
  border-left: #5755d9 solid 1px;
}
.deeds .card a {
  text-decoration: none;
  color: #333;
}
.deeds .column {
  padding: 4px;
}
.has-icon-left .form-select {
    padding-left: 1.5rem;
}
hr {
  color: #eee;
  border-top: #eee 1px solid;
}
.label.label-D {
  background-color: #22313F;
}
.label.label-M {
  background-color: #96281B;
}
.label.label-N {
  background-color: #2574A9;
}
