<!DOCTYPE html>
<meta charset=utf-8>
<title>Actes de l'association généalogique du pays de Bray - {{ title }}</title>
<link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/vendor/spectre.min.css" />
<link rel="stylesheet" href="/static/vendor/spectre-icons.min.css" />
<link rel="stylesheet" href="/static/style.css" />

<section class=main>
  <header class=header></header>
  <section>
    {% block content %}
    {% endblock content %}
  </section>
</section>
