{% set KINDS = {'N': 'Naissance', 'M': 'Mariage', 'D': 'Décès'} %}
{% extends 'base.html' %}
{% block content %}

<section>
  <form action='.' method="get" class="form-horizontal columns">
    <div class="has-icon-left col-2 tooltip tooltip-right" data-tooltip="Utiliser * pour chercher par début de mot">
      <input type="text" name="q" placeholder="Noms/prénoms" value="{{ request.query.get('q', '') }}" class="form-input input-lg">
      <i class="form-icon icon icon-people"></i>
    </div>
    <div class="has-icon-left col-2">
      <input type="text" name="from_year" placeholder="À partir de" value="{{ request.query.get('from_year', '') }}" class="form-input input-lg">
      <i class="form-icon icon icon-time"></i>
    </div>
    <div class="has-icon-left col-2">
      <input type="text" name="to_year" placeholder="Jusqu'à" value="{{ request.query.get('to_year', '') }}" class="form-input input-lg">
      <i class="form-icon icon icon-time"></i>
    </div>
    <div class="has-icon-left col-2">
      <select name="kind" class="form-select select-lg">
        <option value="">Type d'acte</option>
        {% for value, label in KINDS.items() %}
          <option value="{{ value }}" {% if request.query.get('kind', '') == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
      <i class="form-icon icon icon-link"></i>
    </div>
    <div class="has-icon-left col-2">
      <select name="place" class="form-select select-lg">
        <option value="">Commune</option>
        {% for value in COMMUNES %}
          <option value="{{ value }}" {% if request.query.get('place', '') == value %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
      <i class="form-icon icon icon-location"></i>
    </div>
    <input type="submit" value="Chercher" class="btn btn-primary btn-lg col-2">
  </form>
</section>

<section class="deeds columns">
{% set ns = namespace(current_rank=1) %}
{% for deed, rank in deeds %}
  {% if loop.counter == 1 and ns.current_rank == 1 and rank < ns.current_rank %}
  <div class="column">
    <div class="divider text-center" data-content="VOIR AUSSI"></div>
  </div>
    {% set ns.current_rank = rank %}
  {% endif %}
  <div class="column col-12">
    <div class="card{% if rank != 1 %} secondary{% endif %}">
      <a href="/deed/{{ deed.id }}">
        <div class="card-header"><span class="label label-primary label-{{ deed.kind }}">{{ deed.KIND }}</span> {{ deed.date }} — {{ deed.commune }} — {{ deed.département }}</div>
        <div class="card-body">{{ deed }}</div>
      </a>
    </div>
  </div>
{% else %}
  <div class="empty column col-12">
    <div class="empty-icon">
      <i class="icon icon-people"></i>
    </div>
    <h4 class="empty-title">Aucun résultat disponible.</h4>
  </div>
{% endfor %}
</section>

{% endblock content %}
