{% set title = deed %}
{% extends 'base.html' %}
{% block content %}
<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/?kind={{ deed.kind }}">{{ deed.KIND }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/?kind={{ deed.kind }}&dept_id={{ deed.dept_id }}">{{ deed.département }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/?kind={{ deed.kind }}&place={{ deed.place }}">{{ deed.commune }}</a>
  </li>
  <li class="breadcrumb-item">{{ deed }}</li>
</ul>

<div class="card deed">
  <div class="card-header">
    <div><span class="label label-primary label-{{ deed.kind }}">{{ deed.KIND }}</span> {{ deed.date }} — {{ deed.commune }} — {{ deed.département }}</div>
    <h3>{{ deed }}</h3>
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover">
      {% for key, value in deed %}
        <tr><th>{{ key.replace('_', ' ') }}</th><td>{{ value|urlize(target='_blank') }}</td></tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="text-center">
  {% if previous %}
    <a class="btn" href="/deed/{{ previous }}">&lt;&lt; Fiche précédente</a>
  {% endif %}
  <a class="btn" href="{{ search }}">Retour à la recherche</a>
  {% if next %}
    <a class="btn" href="/deed/{{ next }}">Fiche suivante &gt;&gt;</a>
  {% endif %}
</div>
{% endblock content %}
