<deed>
  <div if={item}>
    <h6>{ new Date(parseInt(item.date, 10) * 1000).toLocaleDateString() } — {item.place} — {item.dept_name}</h6>
    <h4>{ label(item.kind, item.data) }</h4>
    <ul>
      <li each={value, key in item.data} if={value}>
        <em>{key}</em> {value}
      </li>
    </ul>
  </div>

  <script>
    this.item = opts.item

    label(kind, data) {
      if (kind === 'N') return `Naissance de ${data.prénoms} ${data.nom}`
      if (kind === 'M') return `${data.prénoms_époux} ${data.nom_époux} et ${data.prénoms_épouse} ${data.nom_épouse}`
    }

    filter(item) {
      console.log(item)
    }

  </script>

</deed>

