<deeds>
  <section>
    <form ref="form" onsubmit="{ load }">
      <input type="text" ref="q" placeholder="Chercher dans le texte">
      <input type="text" ref="from_year" placeholder="À partir de">
      <input type="text" ref="to_year" placeholder="Jusqu'à">
      <select ref="kind">
        <option value="">Type d'acte</option>
        <option value="N">Baptême</option>
        <option value="M">Mariage</option>
        <option value="D">Décès</option>
      </select>
      <input type="submit" value="Chercher">
    </form>
  </section>

  <div each={ items } class="card" onclick="{ open }">
    <h6>{ new Date(parseInt(date, 10) * 1000).toLocaleDateString() } — {place} — {dept_name}</h6>
    <h4><em>{ kind_display(kind) }</em> { label(kind, data) }</h4>
  </div>
  <div if={ !items.length } class="empty">
    <h4 class="empty-title">Aucun résultat disponible.</h4>
  </div>

  <script>
    this.items = []
    this.status = null
    let _currentEntry = null

    this.on('unmount', () => _currentEntry && _currentEntry.unmount('entry'))

    label(kind, data) {
      if (kind === 'N') return `${data.prénoms} ${data.nom}`
      if (kind === 'M') return `${data.prénoms_époux} ${data.nom_époux} et ${data.prénoms_épouse} ${data.nom_épouse}`
    }

    kind_display(kind) {
      if (kind === 'N') return `Naissance`
      if (kind === 'M') return `Mariage`
    }

    getURL () {
      let url = 'http://localhost:3579/deed/?'
      if (this.refs.kind.value) url += `kind=${this.refs.kind.value}`
      if (this.refs.from_year.value) url += `from_year=${this.refs.from_year.value}`
      if (this.refs.to_year.value) url += `to_year=${this.refs.to_year.value}`
      if (this.refs.q.value) url += `q=${encodeURIComponent(this.refs.q.value)}`
      return url
    }

    load (e) {
      e.stopPropagation()
      e.preventDefault()
      fetch(this.getURL())
      .then((response) => response.json())
      .then((data) => {
        this.items = data
        this.update()
      })
    }

    more () {
      let url = this.getURL()
      let len = document.querySelectorAll('deeds .card').length
      if (len === 20) return
      url += '&offset=' + len + '&limit=' + (20 - len)
      fetch(url)
      .then((response) => response.json())
      .then((data) => {
        this.items.push(...data.deeds)
        this.update()
      })
    }

    set_seen (e) {
      const url = 'http://localhost:3579/entry/' + encodeURIComponent(e.item.link)
      fetch(url, {
        method: 'POST',
        body: JSON.stringify({'seen': !e.item.seen})
      })
      .then((response) => response.json())
      .then((data) => {
        var index = this.items.indexOf(e.item)
        this.items[index] = data
        this.update()
        this.more()
      })
    }

    set_bookmark (e) {
      const url = 'http://localhost:3579/entry/' + encodeURIComponent(e.item.link)
      fetch(url, {
        method: 'POST',
        body: JSON.stringify({'bookmark': !e.item.bookmark})
      })
      .then((response) => response.json())
      .then((data) => {
        var index = this.items.indexOf(e.item)
        this.items[index] = data
        this.update()
        this.more()
      })
    }

    open (e) {
      _currentEntry = riot.mount('deed', {item: e.item})[0]
    }

    visible (item) {
      if (this.status === 'unseen') return !item.seen && !item.bookmark
      else if (this.status === 'bookmark') return !item.seen && item.bookmark
      return true
    }

    this.mixin(View)
  </script>

  <style>
  :scope .card {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  :scope .card:hover {
    background-color: #f1f1f1;
  }
  </style>

</deeds>
