<navbar>
  <section>
    <a href="/">AGPB</a>
  </section>

  <style>
    :scope {
      display: block;
      padding: 2em;
    }
  </style>

  <script>

    sync (e) {
      e.preventDefault()
      fetch('http://localhost:1707/sync', {
        method: 'HEAD'
      }).then(() => route('/'))
    }

  </script>
</navbar>
